@charset "UTF-8";
/* =======================================================
reset.css
======================================================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

ol,
ul {
  list-style-type: "";
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-style: normal;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  outline: none;
  box-shadow: none;
  line-break: strict;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:focus,
a:focus {
  outline: none;
}

p,
li,
dt,
dd,
th,
td {
  -ms-line-break: strict;
  line-break: strict;
  word-break: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  transition-timing-function: ease;
  transition-duration: var(--transition-duration);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  image-rendering: optimize-contrast;
}

picture {
  line-height: 0;
}

input,
button,
select,
textarea {
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

button,
textarea {
  font-family: inherit;
  font-size: 100%;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

:where(dialog) {
  width: unset;
  max-width: unset;
  height: unset;
  max-height: unset;
  padding: unset;
  overflow: unset;
  color: unset;
  background-color: unset;
  border: unset;
}

:root:has(:modal) {
  overflow: hidden;
}

html {
  font-size: min(calc(16 / 1280 * 100vw), 16px);
}
@media (width <= 767px) {
  html {
    font-size: calc(16 / 375 * 100vw);
  }
}

body {
  font-family: var(--font-family-base);
  font-size: calc(var(--font-size-base) / 16px * 1rem);
  font-weight: var(--font-family-base);
  line-height: var(--line-height-base);
  color: var(--color-base);
  letter-spacing: var(--letter-spacing-base);
}

input,
button,
select,
textarea,
::placeholder {
  font-family: var(--font-family-base);
  font-size: calc(--font-size-base / 16px * 1rem);
  font-weight: var(--font-family-base);
  line-height: var(--line-height-base);
  color: var(--color-base);
  letter-spacing: var(--letter-spacing-base);
}
@media (width <= 767px) {
  input,
  button,
  select,
  textarea,
  ::placeholder {
    font-size: 0.75rem;
  }
}

label:focus-visible,
button:focus-visible,
input[type=checkbox]:focus-visible,
input[type=submit]:focus-visible {
  cursor: pointer;
}
@media (any-hover: hover) {
  label:hover,
  button:hover,
  input[type=checkbox]:hover,
  input[type=submit]:hover {
    cursor: pointer;
  }
}

a {
  transition-timing-function: ease;
  transition-duration: var(--transition-duration);
}

figure {
  display: flex;
}

picture {
  display: flex;
}

:root {
  --color-brightest: #fff;
  --color-contrast: #f7f7f7;
  --color-base: #1f1f1f;
  --color-main: #de133f;
  --color-accent: #ff9b2f;
  --color-primary: #ff9b2f;
  --color-secondary: #000;
  --color-link: #00f;
  --color-inactive: #ccc;
  --z-index-loading: 9999;
  --z-index-loading-bg: 9998;
  --z-index-burger: 9100;
  --z-index-header: 9000;
  --z-index-on: 2;
  --transition-dulation: 0.5s;
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-sub: "Josefin Sans", sans-serif;
  --font-base-offset-top: 0.07em;
  --inner-padding-inline: 40px;
  --inner-max-width: 100%;
  --font-size-base: 16px;
  --font-weight-base: 400;
  --letter-spacing-base: 0.04em;
  --line-height-base: calc(25/16);
  --viewport-width: 1200px;
  --breakpoint-sm: 767px;
  --breakpoint-md: 768px;
  --transition-duration: 0.5s;
}
@media (width >= 768px) {
  :root {
    --inner-max-width: 1200px;
  }
}
@media (width <= 767px) {
  :root {
    --viewport-width: 375px;
    --inner-padding-inline: 12px;
  }
}

/* =======================================================
footer
======================================================= */
.l-footer {
  padding: 4rem 0 1rem;
  color: var(--color-brightest);
  background-color: #111827;
}

.p-footer__box {
  display: grid;
  grid-template: "logo service company" "icon-wrapper service company";
  grid-template-rows: auto 1fr;
  grid-template-columns: 35rem repeat(2, 1fr);
  padding-bottom: 4rem;
  margin-bottom: 0.75rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
}
@media (width >= 768px) {
  .p-footer__box {
    row-gap: 2rem;
  }
}
@media (width <= 767px) {
  .p-footer__box {
    grid-template: "logo" "icon-wrapper" "service" "company";
    padding-bottom: 2.5rem;
  }
}
.p-footer__logo {
  display: flex;
  grid-area: logo;
  width: 22.0625rem;
}
@media (width <= 767px) {
  .p-footer__logo {
    margin-bottom: 2rem;
  }
}
.p-footer__icon-wrapper {
  display: flex;
  grid-area: icon-wrapper;
  gap: 1.5rem;
  place-self: start start;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background-color: var(--color-brightest);
}
@media (width <= 767px) {
  .p-footer__icon-wrapper {
    margin-bottom: 1.5rem;
  }
}
.p-footer__icon-imgwrapper.--iso {
  width: 37px;
}
.p-footer__icon-imgwrapper.--isms {
  width: 35px;
}
.p-footer__icon-imgwrapper.--privacy {
  width: 40px;
}
.p-footer__icon-img {
  display: block;
  align-self: start;
}
.p-footer__def.--service {
  grid-area: service;
}
.p-footer__def.--company {
  grid-area: company;
}
@media (width <= 767px) {
  .p-footer__def:not(:first-of-type) {
    margin-top: 1.5rem;
  }
}
.p-footer__dttl {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}
@media (width <= 767px) {
  .p-footer__dttl {
    line-height: calc(29/18);
  }
}
.p-footer__nav-list {
  display: grid;
  gap: 0.75rem;
}
@media (width <= 767px) {
  .p-footer__nav-list {
    gap: 0.75rem;
  }
}
.p-footer__nav-item {
  display: flex;
}
.p-footer__nav {
  position: relative;
  opacity: 0.8;
}
.p-footer__nav::after {
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  width: 0;
  height: 0.0625rem;
  content: "";
  background-color: var(--color-brightest);
  translate: -50%;
  transition-timing-function: ease;
  transition-duration: var(--transition-duration);
  transition-property: width;
  will-change: width;
}
.p-footer__nav:focus-visible::after {
  width: 100%;
}
@media (any-hover: hover) {
  .p-footer__nav:hover::after {
    width: 100%;
  }
}
.p-footer__copyright {
  display: block;
  font-size: 0.75rem;
  text-align: center;
  opacity: 0.8;
}

/* =======================================================
header
======================================================= */
.l-header {
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50%;
  z-index: var(--z-index-header);
  padding-top: 0.75rem;
}

.p-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-brightest);
  box-shadow: 0 4px 8px rgba(0, 61.88, 93.27, 0.06);
}
.p-header.l-inner {
  width: calc(100vw - 5rem);
  max-width: 85rem;
  padding: 0.75rem 0.625rem 0.75rem 1.5rem;
  border-radius: calc(infinity * 1rem);
}
@media (width <= 767px) {
  .p-header.l-inner {
    width: calc(100vw - 1.5rem);
    padding: 0.375rem 0.375rem 0.375rem 1rem;
  }
}
.p-header__logo-link {
  display: flex;
  width: 17.625rem;
}
.p-header__gnav-list {
  display: flex;
  gap: 2rem;
  align-items: center;
}
@media (width <= 767px) {
  .p-header__gnav-list {
    display: grid;
    justify-content: center;
  }
}
.p-header__gnav-item {
  display: flex;
}
@media (width <= 767px) {
  .p-header__gnav-item {
    justify-self: center;
  }
}
.p-header__gnav {
  position: relative;
  font-weight: 700;
  transition-timing-function: ease;
  transition-duration: var(--transition-duration);
  transition-property: color;
  will-change: color;
}
.p-header__gnav::after {
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  width: 0;
  height: 0.0625rem;
  content: "";
  background-color: var(--color-main);
  transition-timing-function: ease;
  transition-duration: var(--transition-duration);
  transition-property: width;
  will-change: width;
  translate: -50%;
}
.p-header__gnav:focus-visible {
  color: var(--color-main);
}
.p-header__gnav:focus-visible::after {
  width: 100%;
}
@media (any-hover: hover) {
  .p-header__gnav:hover {
    color: var(--color-main);
  }
  .p-header__gnav:hover::after {
    width: 100%;
  }
}
@media (width <= 767px) {
  .p-header__gnav {
    font-weight: 700;
  }
}
.p-header__gnav-btn {
  --_padding-block: calc(8/14 * 1em);
  display: grid;
  place-content: center;
  padding-block: calc(var(--_padding-block) - var(--font-base-offset-top)) calc(var(--_padding-block) + var(--font-base-offset-top));
  padding-inline: calc(20/14 * 1em);
  font-weight: 700;
  color: var(--color-brightest);
  cursor: pointer;
  background: linear-gradient(90deg, var(--color-main), var(--color-accent));
  border-radius: calc(infinity * 1px);
}
@media (width <= 767px) {
  .p-header__gnav-btn {
    min-width: 16rem;
    padding: 0.875rem 0;
    margin-inline: auto;
    text-align: center;
  }
}
.p-header__gnav-btn {
  transition-property: translate box-shadow;
  will-change: translate box-shadow;
}
.p-header__gnav-btn:focus-visible {
  box-shadow: 0 0.625rem 1.5625rem rgba(222, 19, 63, 0.3);
  translate: 0 -0.1rem;
}
@media (any-hover: hover) {
  .p-header__gnav-btn:hover {
    box-shadow: 0 0.625rem 1.5625rem rgba(222, 19, 63, 0.3);
    translate: 0 -0.1rem;
  }
}
.p-header__burger {
  display: grid;
  place-content: center;
  width: 2.5rem;
  aspect-ratio: 1;
  background-color: var(--color-main);
  border-radius: calc(infinity * 1rem);
}
.p-header__burger-bar-wrapper {
  display: grid;
  gap: 0.375rem;
}
.p-header__burger-bar-wrapper::before, .p-header__burger-bar-wrapper::after {
  width: 1.5rem;
  height: 0.125rem;
  content: "";
  background-color: var(--color-brightest);
}
.p-header__burger-bar-wrapper .p-header__burger-bar {
  width: 1.5rem;
  height: 0.125rem;
  background-color: var(--color-brightest);
}
.p-header__dialog {
  opacity: 0;
  scale: 0.9;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: opacity display scale;
  will-change: opacity display scale;
  transition-behavior: allow-discrete;
}
.p-header__dialog::backdrop {
  opacity: 0;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: opacity display scale;
  will-change: opacity display scale;
  transition-behavior: allow-discrete;
}
.p-header__dialog[open] {
  opacity: 1;
  scale: 1;
}
@starting-style {
  .p-header__dialog[open] {
    opacity: 0;
    scale: 0.9;
  }
}
.p-header__dialog[open]::backdrop {
  background-color: var(--color-brightest);
  opacity: 1;
}
@starting-style {
  .p-header__dialog[open]::backdrop {
    opacity: 0;
  }
}
.p-header__dialog-inner {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  padding: 0.75rem 0.75rem 2.5rem;
}
.p-header__dialog-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-header__dialog-body {
  display: grid;
  gap: 2rem;
  place-content: center;
}
.p-header__dialog .p-header__burger {
  position: relative;
}
.p-header__dialog .p-header__burger-bar-wrapper::before, .p-header__dialog .p-header__burger-bar-wrapper::after {
  position: absolute;
  top: 50%;
  translate: -50% -50%;
}
.p-header__dialog .p-header__burger-bar-wrapper::before {
  rotate: -45deg;
}
.p-header__dialog .p-header__burger-bar-wrapper::after {
  rotate: 45deg;
}
.p-header__dialog .p-header__burger-bar {
  display: none;
}

/* =======================================================
inner
======================================================= */
.l-inner {
  max-width: calc(var(--inner-max-width) / 16px * 1rem);
  padding-inline: calc(var(--inner-padding-inline) / 16px * 1rem);
  margin-inline: auto;
}

/* =======================================================
u-bullet
======================================================= */
.u-bullet__item {
  padding-left: 1em;
  text-indent: -1em;
}
.u-bullet__item::before {
  content: "・";
}

/* =======================================================
colon
======================================================= */
.u-colon__def {
  display: grid;
  grid-template-columns: auto 1fr;
}
.u-colon__dttl {
  display: flex;
}
.u-colon__dttl::after {
  content: "：";
}

/* =======================================================
u-dot
======================================================= */
.u-dot__list {
  display: flex;
  flex-wrap: wrap;
}
.u-dot__item {
  display: flex;
}
.u-dot__item:not(:last-of-type)::after {
  content: "・";
}

/* =======================================================
note
======================================================= */
.u-note {
  padding-left: 1em;
  font-size: 0.75em;
  text-indent: -1em;
}
.u-note::before {
  content: "※";
}

/* =======================================================
u-only
======================================================= */
@media (width <= 767px) {
  .u-md {
    display: none;
  }
}

@media (width >= 768px) {
  .u-sm {
    display: none;
  }
}

/* =======================================================
u-slash
======================================================= */
.u-slash__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.25em;
}
.u-slash__item {
  display: flex;
  gap: 0 0.25em;
}
.u-slash__item:not(:last-of-type)::after {
  content: "/";
}

/* =======================================================
uppercase
======================================================= */
.u-uppercase {
  text-transform: uppercase;
}

/* =======================================================
bread
======================================================= */
/* =======================================================
btn
======================================================= */
/* =======================================================
cta
======================================================= */
.c-cta {
  padding: 72px 0 47px;
  background: linear-gradient(135deg, #de133f 0%, #ff9b2f 100%);
}
@media (width <= 767px) {
  .c-cta {
    padding: 56px 0;
  }
}
.c-cta .l-inner {
  position: relative;
}
.c-cta .l-inner::before {
  position: absolute;
  top: -80px;
  left: -160px;
  width: 990px;
  height: 382px;
  content: "";
  background-image: url("../images/common/cta-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (width <= 767px) {
  .c-cta .l-inner::before {
    top: 60px;
    left: 50%;
    width: 375px;
    height: 280px;
    background-image: url("../images/common/cta-bg-sm.svg");
    translate: -50%;
  }
}
.c-cta__box {
  position: relative;
  z-index: var(--z-index-on);
  display: grid;
}
@media (width >= 768px) {
  .c-cta__box {
    grid-template: "imgwrapper ttl" "imgwrapper txt" "imgwrapper btn";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr auto;
    column-gap: 112px;
    padding-right: calc(46/16 * 1em);
  }
}
@media (width <= 767px) {
  .c-cta__box {
    grid-template: "ttl" "txt" "imgwrapper" "btn";
  }
}
.c-cta__box-imgwrapper {
  position: relative;
  z-index: var(--z-index-on);
  grid-area: imgwrapper;
  justify-self: end;
}
@media (width <= 767px) {
  .c-cta__box-imgwrapper {
    justify-self: center;
    width: 334px;
    margin-bottom: 24px;
  }
}
.c-cta__box-ttl {
  position: relative;
  z-index: var(--z-index-on);
  grid-area: ttl;
  padding-top: calc(6/36 * 1em);
  margin-bottom: calc(32/36 * 1em);
  font-size: calc(36/16 * 1em);
  font-weight: 700;
  line-height: calc(57/36);
  color: var(--color-brightest);
}
@media (width <= 767px) {
  .c-cta__box-ttl {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: calc(44/28);
    text-align: center;
  }
}
.c-cta__box-txt {
  position: relative;
  z-index: var(--z-index-on);
  grid-area: txt;
  margin-bottom: calc(32/16 * 1em);
  color: var(--color-brightest);
}
@media (width <= 767px) {
  .c-cta__box-txt {
    margin-bottom: 24px;
    font-size: 14px;
    text-align: center;
  }
}
.c-cta__box-btn {
  position: relative;
  z-index: var(--z-index-on);
  grid-area: btn;
  align-self: start;
  width: fit-content;
  min-width: 256px;
  padding-block: calc(var(--_padding-block) - var(--font-base-offset-top)) calc(var(--_padding-block) + var(--font-base-offset-top));
  padding-inline: 4em;
  font-weight: 700;
  color: var(--color-brightest);
  text-align: center;
  background-color: #111827;
  border: 1px solid #111827;
  border-radius: calc(infinity * 1px);
  --_padding-block: 1em;
}
@media (width <= 767px) {
  .c-cta__box-btn {
    margin-inline: auto;
  }
}
.c-cta__box-btn:focus-visible {
  color: #111827;
  background-color: var(--color-brightest);
}
@media (any-hover: hover) {
  .c-cta__box-btn:hover {
    color: #111827;
    background-color: var(--color-brightest);
  }
}

/* =======================================================
contact form 7 リセット
======================================================= */
.wpcf7-form-control-wrap {
  display: flex;
}

/* =======================================================
form
======================================================= */
.c-form__fields {
  display: grid;
  gap: 1.875rem;
  margin-bottom: 3.375rem;
}
@media (width <= 767px) {
  .c-form__fields {
    gap: 0.9375rem;
    margin-bottom: 3.125rem;
  }
}
.c-form__field {
  display: grid;
  grid-template-columns: 11.0625rem 1fr;
  gap: 1.25rem;
}
@media (width <= 767px) {
  .c-form__field {
    grid-template-columns: auto;
    gap: 0.5rem;
  }
}
.c-form__lbl {
  position: relative;
  display: flex;
  justify-content: space-between;
  line-height: calc(50/14);
}
@media (width <= 767px) {
  .c-form__lbl {
    gap: 0.625rem;
    justify-content: start;
    font-size: 0.8125rem;
    line-height: calc(26/13);
  }
}
.c-form__lbl.--required::after {
  font-size: 0.875rem;
  color: var(--color-red);
  content: "必須";
}
@media (width <= 767px) {
  .c-form__lbl.--required::after {
    font-size: 0.8125rem;
  }
}
.c-form input[type=text], .c-form input[type=email], .c-form input[type=tel] {
  width: 100%;
  padding: 0.625rem 1.875rem;
  line-height: calc(30/14);
}
@media (width <= 767px) {
  .c-form input[type=text], .c-form input[type=email], .c-form input[type=tel] {
    padding: 0.6875rem 1.25rem 0.75rem;
    line-height: calc(22/12);
  }
}
.c-form input[type=checkbox] {
  position: relative;
  display: inline-flex;
  width: 1.25rem;
  height: 1.25rem;
}
.c-form input[type=checkbox]::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 0.875rem;
  height: 0.6875rem;
  content: "";
  transform: translate(-50%, -50%);
}
.c-form input[type=checkbox]:checked::after {
  display: block;
}
.c-form input[type=submit] {
  display: inline-flex;
  gap: 0.3125rem;
  align-items: center;
  padding: 0.625rem 2.6875rem 0.75rem 1.625rem;
  font-size: 1.125rem;
  line-height: calc(28/18);
  letter-spacing: 0.1em;
  border-radius: 3.125rem;
  transition: all 0.5s ease;
}
@media (hover: hover) {
  .c-form input[type=submit]:hover {
    opacity: 0.5;
  }
}
@media (width <= 767px) {
  .c-form input[type=submit] {
    gap: 0.5rem;
    padding: 0.625rem 2.3125rem 0.625rem 1.0625rem;
    font-size: 0.875rem;
    line-height: calc(26/14);
    letter-spacing: 0.05em;
  }
}
@media (hover: hover) {
  .c-form input[type=submit]:disabled:hover {
    opacity: 1;
  }
}
.c-form textarea {
  width: 100%;
  height: 15.625rem;
  padding: 1.25rem 1.875rem;
  line-height: calc(30/14);
  resize: none;
}
@media (width <= 767px) {
  .c-form textarea {
    height: 22.9375rem;
    padding: 1.125rem 1.25rem;
    line-height: calc(22/12);
  }
}
.c-form__acceptance {
  margin-bottom: 1.5625rem;
}
@media (width <= 767px) {
  .c-form__acceptance {
    margin-bottom: 1.25rem;
    font-size: 0.75rem;
    line-height: calc(24/12);
  }
}
.c-form__acceptance .wpcf7-form-control-wrap {
  justify-content: center;
}
.c-form__acceptance .wpcf7-acceptance {
  display: flex;
}
.c-form__acceptance .wpcf7-list-item {
  margin-left: 0;
}
.c-form__acceptance label {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
}
.c-form__btn-wrapper {
  margin: 0 auto;
  text-align: center;
}
.c-form__btn {
  position: relative;
}
.c-form__btn::after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  width: 0.9375rem;
  height: 0.75rem;
  content: "";
  transform: translateY(-50%);
}
@media (width <= 767px) {
  .c-form__btn::after {
    right: 1.0625rem;
    width: 0.75rem;
    height: 0.5625rem;
    transform: translateY(-50%);
  }
}
.c-form__btn .wpcf7-spinner {
  display: none;
}
.c-form__btn .wpcf7-form-control-wrap {
  display: flex;
}
/* =======================================================
エラー
======================================================= */
.wpcf7-form.invalid .wpcf7-form-control-wrap {
  display: grid;
  gap: 0.5rem;
}
.wpcf7-form.invalid .wpcf7-not-valid-tip {
  position: relative;
}
.wpcf7-form.invalid .wpcf7-response-output {
  display: none;
}
.wpcf7-form.--hide-error .wpcf7-not-valid-tip {
  display: none;
}

@media screen and (width <= 750px) {
  .wpcf7-form.invalid .wpcf7-form-control-wrap {
    gap: 0.375rem;
  }
  .wpcf7-form.invalid .wpcf7-not-valid-tip {
    font-size: 1.5rem;
  }
}
/* =======================================================
lead
======================================================= */
.c-lead {
  margin-bottom: calc(40/16 * 1em);
  text-align: center;
}

/* =======================================================
ttl
======================================================= */
.c-ttl {
  width: fit-content;
  margin-inline: auto;
  margin-bottom: calc(40/36 * 1em);
  font-size: calc(36/16 * 1em);
  font-weight: 700;
  line-height: calc(57/36);
}
@media (width <= 767px) {
  .c-ttl {
    margin-bottom: calc(24/28 * 1em);
    font-size: calc(28/16 * 1em);
    text-align: center;
  }
}