/* =======================================================
common
======================================================= */
section {
  padding-block: calc(80/16 * 1em);
}
section:nth-of-type(even) {
  background-color: var(--color-contrast);
}

/* =======================================================
mv
======================================================= */
.p-mv {
  position: relative;
  padding: 184px 0 127px;
  background: linear-gradient(145deg, #ffe7f0 0%, #ffecd7 100%);
}
@media (width <= 767px) {
  .p-mv {
    padding: 107px 0 40px;
    background: linear-gradient(315deg, rgba(255, 231, 240, 0.8) 0%, rgba(255, 236, 215, 0.8) 100%);
  }
}
.p-mv .l-inner {
  position: relative;
  display: grid;
  grid-template: "ttl imgwrapper" "txt imgwrapper" "logo imgwrapper" "btn imgwrapper";
  align-items: center;
}
@media (width >= 768px) {
  .p-mv .l-inner {
    grid-template-columns: 1fr 560px;
  }
}
@media (width <= 767px) {
  .p-mv .l-inner {
    grid-template: "ttl" "txt" "logo" "imgwrapper" "btn";
    padding-inline: 21.5px;
  }
}
.p-mv .l-inner::after {
  position: absolute;
  width: 1144px;
  height: 680px;
  content: "";
  background-image: url("../images/top/mv-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
@media (width >= 768px) {
  .p-mv .l-inner::after {
    top: -184px;
    right: -160px;
  }
}
@media (width <= 767px) {
  .p-mv .l-inner::after {
    bottom: -40px;
    left: 50%;
    width: 375px;
    height: 510px;
    background-image: url("../images/top/mv-bg-sm.svg");
    translate: -50%;
  }
}
.p-mv__ttl {
  position: relative;
  z-index: var(--z-index-on);
  grid-area: ttl;
  width: 532px;
  margin-bottom: 40px;
}
@media (width <= 767px) {
  .p-mv__ttl {
    width: 332px;
  }
}
.p-mv__txt {
  position: relative;
  z-index: var(--z-index-on);
  grid-area: txt;
  margin-bottom: 32px;
}
@media (width <= 767px) {
  .p-mv__txt {
    margin-bottom: 40px;
    font-size: 14px;
    letter-spacing: 0.03em;
  }
}
.p-mv__logo {
  position: relative;
  z-index: var(--z-index-on);
  grid-area: logo;
  width: 430px;
  margin-bottom: 56px;
}
.p-mv__btn {
  --_padding-block: 1em;
  position: relative;
  z-index: var(--z-index-on);
  display: grid;
  grid-area: btn;
  width: fit-content;
  padding-block: calc(var(--_padding-block) - var(--font-base-offset-top)) calc(var(--_padding-block) + var(--font-base-offset-top));
  padding-inline: 4em;
  font-weight: 700;
  color: var(--color-brightest);
  background: linear-gradient(90deg, var(--color-main), var(--color-accent));
  border-radius: calc(infinity * 1px);
  transition-property: translate box-shadow;
  will-change: translate box-shadow;
}
@media (width <= 767px) {
  .p-mv__btn {
    --_padding-block: calc(14/16 * 1em);
    margin-inline: auto;
  }
}
.p-mv__btn:focus-visible {
  box-shadow: 0 0.625rem 1.5625rem rgba(222, 19, 63, 0.3);
  translate: 0 -0.1rem;
}
@media (any-hover: hover) {
  .p-mv__btn:hover {
    box-shadow: 0 0.625rem 1.5625rem rgba(222, 19, 63, 0.3);
    translate: 0 -0.1rem;
  }
}
.p-mv__imgwrapper {
  position: relative;
  z-index: var(--z-index-on);
}
@media (width >= 768px) {
  .p-mv__imgwrapper {
    grid-area: imgwrapper;
    margin-top: 7px;
  }
}
@media (width <= 767px) {
  .p-mv__imgwrapper {
    width: 308px;
    margin-inline: auto;
    margin-bottom: 40px;
  }
}

/* =======================================================
reason
======================================================= */
.p-reason__list {
  display: grid;
  gap: calc(40/16 * 1em);
}
.p-reason__item {
  display: grid;
  overflow: hidden;
  border-radius: 12px;
}
@media (width >= 768px) {
  .p-reason__item {
    grid-template-columns: repeat(2, 1fr);
  }
}
.p-reason__item:nth-of-type(odd) {
  --item-color: var(--color-main);
}
.p-reason__item:nth-of-type(even) {
  --item-color: var(--color-accent);
}
.p-reason__item-head {
  display: grid;
  align-items: center;
  padding: calc(24/16 * 1em) calc(40/16 * 1em);
  background-color: var(--color-contrast);
  border-left: 6px solid var(--item-color);
}
.p-reason__item-head-inner {
  display: grid;
  gap: calc(24/16 * 1em);
}
.p-reason__item-hgroup-txt {
  margin-bottom: 0.5em;
  font-family: var(--font-family-sub);
  font-weight: 700;
  line-height: 1;
  color: var(--item-color);
}
.p-reason__item-hgroup-ttl {
  font-size: 1.5em;
  font-weight: 700;
  line-height: calc(38/24);
}
.p-reason__item-txt {
  font-size: calc(14/16 * 1em);
}
.p-reason__item-imgwrapper {
  display: grid;
  place-content: center;
  padding-block: 1.5em;
  background-color: var(--item-color);
}
.p-reason__item-img {
  width: 22.625rem;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* =======================================================
scene
======================================================= */
.p-scene__conts-wrapper {
  display: grid;
  gap: calc(24/16 * 1em) calc(20/16 * 1em);
}
@media (width >= 768px) {
  .p-scene__conts-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.p-scene__conts {
  overflow: hidden;
  background-color: var(--color-brightest);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.p-scene__conts-img {
  max-width: none;
  height: 230px;
}
.p-scene__conts-body {
  padding: calc(24/16 * 1em);
}
.p-scene__conts-ttl {
  display: grid;
  gap: calc(16/22 * 1em);
  justify-content: center;
  margin-bottom: calc(16/22 * 1em);
  font-size: 22px;
  font-weight: 700;
  line-height: calc(35/22);
  text-align: center;
}
.p-scene__conts-ttl::after {
  justify-self: center;
  width: calc(64/22 * 1em);
  height: calc(4/22 * 1em);
  content: "";
  background: linear-gradient(90deg, #de133f 0%, #ff9b2f 100%);
  border-radius: calc(infinity * 1px);
}
.p-scene__conts-txt {
  font-size: calc(14/16 * 1em);
  line-height: calc(22/14);
}

/* =======================================================
solution
======================================================= */
.p-solution__conts-wrapper {
  display: grid;
  gap: 1em;
}
@media (width >= 768px) {
  .p-solution__conts-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
.p-solution__conts {
  padding: 1.5em 1em;
  background-color: var(--color-brightest);
  border-radius: 8px;
}
.p-solution__conts-imgwrapper {
  margin-bottom: 1em;
}
.p-solution__conts-hgroup {
  display: grid;
  gap: 0.5em;
  text-align: center;
}
.p-solution__conts-hgroup-txt {
  font-size: 14px;
  line-height: calc(22/14);
}
.p-solution__conts-hgroup-ttl {
  font-size: calc(18/16 * 1em);
  font-weight: 700;
  line-height: calc(28/18);
}