@use "../../../foundation/import" as *;

/* =======================================================
common
======================================================= */
section {
  padding-block: calc(#{80 / 16} * 1em);
  @include responsive(sm) {
    padding-block: calc(#{56 / 16} * 1em);
  }
  &:nth-of-type(even) {
    background-color: var(--color-contrast);
  }
}
