@use "../../../foundation/import" as *;

/* =======================================================
mv
======================================================= */
.p-mv {
  position: relative;
  padding: rem(184px) 0 rem(127px);
  background: linear-gradient(145deg, #ffe7f0 0%, #ffecd7 100%);
  @include responsive(sm) {
    padding: rem(107px) 0 rem(40px);
    background: linear-gradient(315deg, rgb(255 231 240 / 80%) 0%, rgb(255 236 215 / 80%) 100%);
  }
  .l-inner {
    position: relative;
    display: grid;
    grid-template:
      "ttl imgwrapper"
      "txt imgwrapper"
      "logo imgwrapper"
      "btn imgwrapper";
    align-items: center;
    @include responsive(md) {
      grid-template-columns: 1fr rem(560px);
    }
    @include responsive(sm) {
      grid-template:
        "ttl"
        "txt"
        "logo"
        "imgwrapper"
        "btn";
      padding-inline: rem(21.5px);
    }
    &::after {
      position: absolute;
      width: rem(1144px);
      height: rem(680px);
      content: "";
      background-image: url("#{$images-pass-root}/top/mv-bg.webp");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      @include responsive(md) {
        top: rem(-184px);
        right: rem(-160px);
      }
      @include responsive(sm) {
        bottom: rem(-40px);
        left: 50%;
        width: rem(375px);
        height: rem(510px);
        background-image: url("#{$images-pass-root}/top/mv-bg-sm.svg");
        translate: -50%;
      }
    }
  }
  &__ttl {
    position: relative;
    z-index: var(--z-index-on);
    grid-area: ttl;
    margin-bottom: rem(40px);
    &-logo {
      &-img {
        &wrapper {
          width: rem(532px);
          @include responsive(sm) {
            width: rem(332px);
          }
        }
      }
    }
  }
  &__txt {
    position: relative;
    z-index: var(--z-index-on);
    grid-area: txt;
    margin-bottom: rem(32px);
    @include responsive(sm) {
      margin-bottom: rem(40px);
      font-size: rem(14px);
      letter-spacing: 0.03em;
    }
  }
  &__logo {
    position: relative;
    z-index: var(--z-index-on);
    grid-area: logo;
    width: rem(430px);
    margin-bottom: rem(56px);
  }
  &__btn {
    --_padding-block: 1em;

    position: relative;
    z-index: var(--z-index-on);
    display: grid;
    grid-area: btn;
    width: fit-content;
    padding-block: calc(var(--_padding-block) - var(--font-base-offset-top)) calc(var(--_padding-block) + var(--font-base-offset-top));
    padding-inline: 4em;
    font-weight: 700;
    color: var(--color-brightest);
    background: linear-gradient(90deg, var(--color-main), var(--color-accent));
    border-radius: calc(infinity * rem(1px));
    transition-property: translate box-shadow;
    will-change: translate box-shadow;
    @include responsive(sm) {
      --_padding-block: calc(#{14 / 16} * 1em);

      margin-inline: auto;
    }
    &:focus-visible {
      box-shadow: 0 rem(10px) rem(25px) rgb(222 19 63 / 30%);
      translate: 0 -0.1rem;
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 rem(10px) rem(25px) rgb(222 19 63 / 30%);
        translate: 0 -0.1rem;
      }
    }
  }
  &__img {
    &wrapper {
      position: relative;
      z-index: var(--z-index-on);
      @include responsive(md) {
        grid-area: imgwrapper;
        margin-top: rem(7px);
      }
      @include responsive(sm) {
        width: rem(308px);
        margin-inline: auto;
        margin-bottom: rem(40px);
      }
    }
  }
}
