@use "../../../foundation/import" as *;

/* =======================================================
scene
======================================================= */
.p-scene {
  &__conts {
    &-wrapper {
      display: grid;
      gap: calc(#{24 / 16} * 1em) calc(#{20 / 16} * 1em);
      @include responsive(md) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    overflow: hidden;
    background-color: var(--color-brightest);
    border-radius: rem(8px);
    box-shadow: 0 rem(2px) rem(10px) rgb(0 0 0 / 8%);
    &-img {
      max-width: none;
      aspect-ratio: 552 / 230;
    }
    &-body {
      padding: calc(#{24 / 16} * 1em);
    }
    &-ttl {
      display: grid;
      gap: calc(#{16 / 22} * 1em);
      justify-content: center;
      margin-bottom: calc(#{16 / 22} * 1em);
      font-size: rem(22px);
      font-weight: 700;
      line-height: calc(#{35 / 22});
      text-align: center;
      &::after {
        justify-self: center;
        width: calc(#{64 / 22} * 1em);
        height: calc(#{4 / 22} * 1em);
        content: "";
        background: linear-gradient(90deg, #de133f 0%, #ff9b2f 100%);
        border-radius: calc(infinity * rem(1px));
      }
    }
    &-txt {
      font-size: calc(#{14 / 16} * 1em);
      line-height: calc(#{22 / 14});
    }
  }
}
