@use "../foundation/import" as *;

/* =======================================================
ttl
======================================================= */
.c-ttl {
  width: fit-content;
  margin-inline: auto;
  margin-bottom: calc(#{40 / 36} * 1em);
  font-size: calc(#{36 / 16} * 1em);
  font-weight: 700;
  line-height: calc(#{57 / 36});
  @include responsive(sm) {
    margin-bottom: calc(#{24 / 28} * 1em);
    font-size: calc(#{28 / 16} * 1em);
    text-align: center;
  }
}
