@use "../foundation/import" as *;

/* =======================================================
u-slash
======================================================= */
.u-slash {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.25em;
  }
  &__item {
    display: flex;
    gap: 0 0.25em;
    &:not(:last-of-type) {
      &::after {
        content: "/";
      }
    }
  }
}
